@charset "utf-8";
/* CSS Document */
body{
	background-image=url(http://sites.google.com/site/csstbr/img_srvc/bg.png);
	background-repeat=no-repeat;

}
#bg{
	height : 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
